import(stats)

importFrom(graphics,abline,layout,par,plot,plot.new,axTicks,axis,lines,text,title)
importFrom(grDevices,dev.new,dev.off,devAskNewPage)
importFrom(utils,flush.console,tail,write.table)


export(panImpute,
       mitmlComplete,
       clusterMeans,
       plot.mitml,
       read.mitml,
       summary.mitml,
       testEstimates,
       testModels,
       testConstraints,
       with.mitml.list,
       within.mitml.list,
       mids2mitml.list,
       as.mitml.list,
       is.mitml.list,
       write.mitml,
       write.mitmlMplus,
       write.mitmlSAV,
       write.mitmlSPSS
      )

S3method(print,mitml)
S3method(plot,mitml)
S3method(summary,mitml)

S3method(print,mitml.summary)

S3method(with,mitml.list)
S3method(within,mitml.list)

S3method(print,mitml.testEstimates)
S3method(print,mitml.testModels)
S3method(print,mitml.testConstraints)
